@tailwind base;
@tailwind components;
@tailwind utilities;

.customHeight{

height: 100vh;
/* background-image: url(""); */
background-size: cover;
background-repeat: no-repeat;
}
.customLineHeight{

    line-height: 1;
 
    font-size: 78px;

}
.customHeightnew {


 width: 100%;

}
.custom_reverse {
    background: linear-gradient(-90deg,#ff144f,#ff513a);
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    
}
.customBorder{

    border: 2px solid #f74c09; 
}
.text-custom{

   
}

@media(max-width:600px){


    .customLineHeight{

        line-height: 1.2;
 
        font-size: 45px;
    
    }

}